body {
    --background: #1c6965;
    --number-background: #5fbbb3;
    --number-shadow: #439684;
    --symbol-background: #428292;
    --symbol-shadow: #316878;
    --text: #F6F6F6;
    --text-fade: #CCCCCC;
    --text-green: #2ecc3b;
    --text-red: #D8334A;
    --selected-background: #DDDDDD;
    --selected-shadow: #C8C8C8;

    background-color: var(--background);
    color: var(--text);
    margin: 0;
    font-family: 'Baloo', cursive;
    overflow-x: hidden;
}
#hidden {
    display: none;
}

#game {
    width: 100vw;
    min-height: 100vh;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/cursor_default.png), auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


#board {
    display: flex;
    flex-direction: column;
    transform: translateX(50px);
    min-width: 600px;
    min-height: 600px; 
    max-width: 600px; 
    max-height: 600px; 
    margin-top: 10px;
}
.row {
    display: flex;
    flex-direction: row;
}

div {
    width:80px;
    height:80px;
    margin:10px;
}
.number, .symbol, .result {
    user-select: none;
    line-height:80px;
    text-align:center;
    font-size:60px;
}
.number, .symbol {
    border-radius:8px;
}
.number {
    background-color:var(--number-background);
    box-shadow:0 8px 0 0 var(--number-shadow);
    transition:all .25s -.1s;
}
:active {
    transform:translateY(8px);
    box-shadow:0 0px 0 0 #434596;
}

.symbol {
    background-color:var(--symbol-background);
    box-shadow:0 8px 0 0 var(--symbol-shadow);
}
.result {
    position: relative;
    font-size:40px;
}
.correct {
    color:var(--text-green);
}
.wrong {
    color:var(--text-red);
}

#keyboard {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.key {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 10px;
    font-size: 52px;
    border-radius: 8px;
    text-align: center;
    user-select: none;
    background-color: var(--number-background);
    box-shadow: 0 8px 0 0 var(--number-shadow);
    transition: all .25s -.1s;
}
.used {
    background-color: var(--symbol-background);
    box-shadow: 0 8px 0 0 var(--symbol-shadow);
}
:active {
    transform: translateY(8px);
    box-shadow: 0 0px 0 0 var(--symbol-shadow);
}

.selected {
    color: var(--symbol-background);
    background-color: var(--selected-background);
    box-shadow: 0 16px 0 0 var(--selected-shadow);
    transform: translateY(-8px);
}
:active {
    transform: translateY(8px);
    box-shadow: 0 0px 0 0 var(--selected-shadow);
}


.used, :active {
    transform:translateY(8px);
    box-shadow:0 0px 0 0 var(--number-shadow);
}
.selected {
    color:var(--number-background);
    background-color:var(--text);
    box-shadow:0 16px 0 0 var(--text-fade);
    transform:translateY(-8px);
}
:active {
    transform:translateY(8px);
    box-shadow:0 0px 0 0 var(--text-fade);
}


#winner {
    position: fixed;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    background-color: #2ABA66;
    text-align: center;
}
.header {
    margin: 40px 0;
    font-size: 60px;
    margin-bottom: -20px;
}

#new {
    margin-bottom: 30px;
}

#close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 14px;
    font-size: 32px;
}

.show {
    display: none;
}